.mainSection {
    width: #{"min(80vw,40rem)"};
    margin-top: 2rem;
    padding: 2rem 0;
    background-color: white;
    border-radius: 20px;
}
.mainForm {
    margin-left: 2rem;
    margin-bottom: 2rem;
    & > * {
        margin-right: 1.5rem;
        margin-bottom: 0.5rem;
    }
    & select,
    & input {
        width: 8rem;
    }
}
.priceOrder {
    border-radius: 20px;
    border: none;
    background-color: #555;
    padding: 0.5em 1em;
    color: white;
    &:hover {
        cursor: pointer;
        background-color: #444;
    }
}

.productSection {
    padding: 0 2rem;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}
